<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

</head>
<body>
  <form class="form-logout" role="form">

<nav class="navbar navbar-inverse visible-xs">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    
  </div>
</nav>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav hidden-xs">
      <h2>Logo</h2>
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#section1">Dashboard</a></li>
        <li><a href="rooms">Rooms</a></li>
      <li>
              <a href="/cRegister" >Logout</a>
      </li>
      </ul><br>
    </div>
    <br>
    </form>
    <div class="col-sm-9">
      <div class="well">
        <h4>Welcome</h4>
        <p  class="welcome"href="welcome">{{rows}}</p>
      </div>

    </div>
  </div>
</div>

</body>
</html>
