
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Guest Room Booking</title>
    <link rel="stylesheet" href="/css/styles.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <script src="/public/assets/header.js"></script>
    <div class="detel">
        <h1>Hi <span>Welcome</span></h1>
        <p>Yes.. that's what you will see at Hotel
            - the only ISO 9001:2000 certified hotel in <br> Coimbatore,
             is not without a reason.In fact,we love to surprise our
             guests with<br> the incredible value for money you will see once
              you are here; be it the host of<br> facilities or the various 
              thoughtful touches we have added like our wonderful<br> health
               club which we have recently renovated. Enjoy your stay!<br>  web development and ui design. </p>
        <a href="rooms1">Available Rooms</a>
    </div>
        <div class="images">
       <img src="/public/images/shape.png" class="shape">
        <img src="/public/images/executiveroom-img.jpg" style="border-radius: 0 50% 50% 50%;;" class="girl">
        </div>  
        <script src="/public/assets/footer.js"></script>
</body>
</html>