
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Guest Room Booking</title>
    <link rel="stylesheet" href="/css/styles.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <script src="/public/assets/header.js"></script>
    <div class="detel">
        <h1>Hi <span>Welcome</span></h1>
        <p>
            Hotel offers a collection of fresh & modern guest rooms offering great value for budget <br>
            consious traveller. all rooms features stylish designs throughout the interiors and <br>
            premium-quality beds to scius work areas. 
        </p>

    </div>
        <div class="images">
       <img src="/public/images/shape.png" class="shape">
        <img src="/public/images/executiveroom-img.jpg" style="border-radius: 0 50% 50% 50%;;" class="girl">
        </div>  
</body>
</html>