<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <title>House owner login & register </title>
	  <link rel="stylesheet" href="/css/cus_reg_style.css">
     <link rel="stylesheet" href="/css/styles.css">
   </head>
   <body>
      <script src="/public/assets/header.js"></script>
      <div class="wrapper">
         <div class="title-text">
            <div class="title login">
            Owner Login 
            </div>
            <div class="title signup">
            Owner Sign up
            </div>
         </div>
         <div class="form-container">
            <div class="slide-controls">
               <input type="radio" name="slide" id="login" checked>
               <input type="radio" name="slide" id="signup">
               <label for="login" class="slide login">Login</label>
               <label for="signup" class="slide signup">Signup</label>
               <div class="slider-tab"></div>
            </div>
            <div class="form-inner">
               {{!-- owner login --}}
               <form action="/ologin" class="login" method="post">
                  <div class="field">
                     <input type="text" placeholder="Email Address" name="email" required>
                  </div>
                  <div class="field">
                     <input type="password" placeholder="Password" name="password" required>
                  </div>
                
                  <div class="field btn">
                     <div class="btn-layer"></div>
                     <input type="submit" value="Login">
                  </div>
                  <div class="signup-link">
                     Not a member? <a href="/oRegister">Register as House Owner</a> <br>
					 You are a customer? <a href="/cRegister">customer</a>
                  </div>
               </form>

                {{!-- owner register --}}
               <form action="/oRegister" class="signup" method="post">

				<div class="field">
					<input type="text" placeholder="Name"  name="name" required >
				 </div>
                  <div class="field">
                     <input type="text" placeholder="Email Address" name="email" required>
                  </div>
                  <div class="field">
                     <input type="text" placeholder="Mobile Number" name="mobile" required>
                  </div>
                  <div class="field">
                     <input type="password" placeholder="password" name="password" required>
                  </div>
                  <div class="field btn">
                     <div class="btn-layer"></div>
                     <input type="submit" value="Signup">
                  </div>
               </form>
            </div>
         </div>
      </div>
      <script>
         const loginText = document.querySelector(".title-text .login");
         const loginForm = document.querySelector("form.login");
         const loginBtn = document.querySelector("label.login");
         const signupBtn = document.querySelector("label.signup");
         const signupLink = document.querySelector("form .signup-link a");
         signupBtn.onclick = (()=>{
           loginForm.style.marginLeft = "-50%";
           loginText.style.marginLeft = "-50%";
         });
         loginBtn.onclick = (()=>{
           loginForm.style.marginLeft = "0%";
           loginText.style.marginLeft = "0%";
         });
         signupLink.onclick = (()=>{
           signupBtn.click();
           return false;
         });
      </script>









   </body>
</html>