<html>
<head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<style>
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 200px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 200px;
  height: 200px;
}

div.desc {
  padding: 15px;
  text-align: center;
}
</style>
</head>
<body>
  <form class="form-logout" role="form">

<nav class="navbar navbar-inverse visible-xs">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    
  </div>
</nav>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav hidden-xs">
      <h2>Logo</h2>
      <ul class="nav nav-pills nav-stacked">
        <li ><a href="dashboard">Dashboard</a></li>
        <li class="active"><a href="rooms">Rooms</a></li>
      <li>
              <a href="/cRegister" >Logout</a>
      </li>
      </ul><br>
    </div>
    <br>
    </form>
    <div class="col-sm-9">
      <div class="well">
        <h4>Welcome</h4>
        <p  class="welcome"href="welcome">{{rows}}</p>
      </div>
      <div>


            <div class="gallery">
  <a  href="book">
    <img src="/public/images/room1.jpg" alt="room1" width="600" height="400">
  </a>
  <div class="desc">John room | per day 250</div>
</div>

<div class="gallery">
  <a href="book">
    <img src="/public/images/room2.jpg" alt="room2" width="600" height="400">
  </a>
  <div class="desc">andrew room | per day 250</div>
</div>

<div class="gallery">
  <a  href="book">
    <img src="/public/images/room3.jpg" alt="room3" width="600" height="400">
  </a>
  <div class="desc">sam room | per day 250</div>
</div>

<div class="gallery">
  <a  href="book">
    <img src="/public/images/room4.jpg" alt="room4" width="600" height="400">
  </a>
  <div class="desc">angel room | per day 250</div>
</div>

      </div>

    </div>
  </div>
</div>

</body>
</html>

