<html>
<head>
<style>
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 200px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 200px;
  height: 200px;
}

div.desc {
  padding: 15px;
  text-align: center;
}
</style>
</head>
<body>
  <div class="container">
            <div class="gallery">
  <a  href="book">
    <img src="/public/images/room1.jpg" alt="room1" width="600" height="400">
  </a>
  <div class="desc">John room | per day 250</div>
</div>

<div class="gallery">
  <a href="book">
    <img src="/public/images/room2.jpg" alt="room2" width="600" height="400">
  </a>
  <div class="desc">andrew room | per day 250</div>
</div>

<div class="gallery">
  <a  href="book">
    <img src="/public/images/room3.jpg" alt="room3" width="600" height="400">
  </a>
  <div class="desc">sam room | per day 250</div>
</div>

<div class="gallery">
  <a  href="book">
    <img src="/public/images/room4.jpg" alt="room4" width="600" height="400">
  </a>
  <div class="desc">angel room | per day 250</div>
</div>
</div>

  
</body>
</html>

